Options +FollowSymlinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_URI} summary
RewriteRule .* weather-summary.php

RewriteCond %{REQUEST_URI} detailed
RewriteRule .* weather-detailed.php



